# python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments
.venv/
venv/

# local environment files
.env

# Git
.git/
.gitignore

# Editor / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db